# Executáveis compilados
*.out
*.exe
*.bin
a.out

# Arquivos objeto
*.o
*.obj

# Arquivos de saída de testes
output.txt
*.ans
*.res

# Arquivos temporários de editores
*.swp
*.swo
*~
.vscode/

# Arquivos de debug
*.su
*.idb
*.pdb

# Outros
*.log
core
